<table class="table table-hover text-center">
  <thead>
    <tr>
      <th>casdsadasd1</th>
      <th>casdasd2</th>
      <th>c3asdasd</th>
      <th>casdasd3</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      <td>tasdasd1</td>
      <td>t1asdasd</td>
      <td>t1asdasd</td>
      <td>t1asdasd</td>
      <td>
        <button
          class="btn btn-warning btn-sm m-1"
          type="button"
          (click)="emit()"
        >
          <i class="bi bi-pencil-fill"></i>
        </button>
        <button class="btn btn-danger btn-sm m-1" type="button">
          <i class="bi bi-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
