<div class="card col-sm-12 col-xxl-10 col-xxxl-8 mx-auto">
  <div class="card-header text-center">
    <i
      class="bi bi-chevron-left position-absolute start-0 ms-4 ps-1 cancel"
      (click)="emit()"
    ></i>
    <b>Actualización de Producto</b>
  </div>
  <div class="card-body">
    <div class="m-3">
      <label for="name">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="name"
        value="{{ product.name }}"
      />
    </div>
    <div class="m-3">
      <label for="description">Descripción</label>
      <textarea
        class="form-control"
        id="description"
        rows="3"
        value="{{ product.description }}"
      ></textarea>
    </div>
    <div class="m-3">
      <label for="price">Precio</label>
      <input
        type="text"
        class="form-control"
        id="price"
        value="{{ product.price }}"
      />
    </div>
    <div class="m-3">
      <label for="stock">Stock</label>
      <input
        type="text"
        class="form-control"
        id="stock"
        value="{{ product.stock }}"
      />
    </div>
    <div class="m-3">
      <button class="btn btn-warning w-100" (click)="update()">
        Actualizar
      </button>
    </div>
  </div>
</div>
